{% extends "base.html" %}

{% block title %}{{ current_user.name }} Settings{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <!-- Main content -->
        <main class="col-md-8" style="margin-top: 58px;">
            <!-- Personal Information Section -->
            <div class="row align-items-center">
                <!-- TODO: FIX PROFILE IMAGE UPLOAD AND DISPLAY -->
                <!-- Profile Image -->
                <!-- <div class="col-md-4 text-center">
                    <div class="profile-img">
                        <img src="{{ url_for('static', filename='images/profile_placeholder.png') }}"
                            class="rounded-circle img-fluid" alt="Profile Image">
                        <input type="file" id="profileImageUpload" class="form-control mt-2"
                            aria-label="Upload Profile Image">
                        <label for="profileImageUpload" class="btn btn-light btn-sm mt-2">Click to change
                            photo</label>
                    </div>
                </div> -->
                <!-- Profile Image -->
                <!-- Account Details -->
                <div class="col-12">
                    <h4>Account Details</h4>
                    <form method="POST" action="{{ url_for('dash.settings') }}">
                        <!-- First Name -->
                        <div class="form-group mb-3">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" id="firstName" name="first_name" class="form-control"
                                value="{{ current_user.first_name }}">
                        </div>
                        <!-- First Name -->
                        <!-- Last Name -->
                        <div class="form-group mb-3">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" id="lastName" name="last_name" class="form-control"
                                value="{{ current_user.last_name }}">
                        </div>
                        <!-- Last Name -->
                        <!-- Email -->
                        <div class="form-group mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" id="email" name="email" class="form-control"
                                value="{{ current_user.email }}">
                        </div>
                        <!-- Email -->
                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-primary mt-4 w-100">Save New Changes</button>
                        <!-- Submit Button -->
                    </form>
                </div>
            </div>
            <!-- Personal Information Section -->

            <!-- Security Section -->
            <div class="row mt-5">
                <div class="col-12">
                    <h4>Security</h4>
                    <form method="POST" action="{{ url_for('dash.change_password') }}">
                        <!-- Current Password  -->
                        <div class="form-group mb-3">
                            <label for="currentPassword" class="form-label">Current Password</label>
                            <input type="password" id="currentPassword" name="current_password" class="form-control"
                                placeholder="Enter current password" required>
                        </div>
                        <!-- Current Password  -->
                        <!-- New Password  -->
                        <div class="form-group mb-3">
                            <label for="newPassword" class="form-label">New Password</label>
                            <input type="password" id="newPassword" name="new_password" class="form-control"
                                placeholder="Enter new password" required>
                        </div>
                        <!-- New Password  -->
                        <!-- Confirm New Password  -->
                        <div class="form-group mb-3">
                            <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
                            <input type="password" id="confirmNewPassword" name="confirm_new_password"
                                class="form-control" placeholder="Confirm new password" required>
                        </div>
                        <!-- Confirm New Password  -->
                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-outline-secondary w-100">Change Password</button>
                        <!-- Submit Button -->
                    </form>
                </div>
            </div>
            <!-- Security Section -->
        </main>
        <!-- Main Section -->
    </div>
</div>

<!-- Footer -->
<footer class="footer bg-light text-center text-lg-start p-1 mt-4">
    <div class="container">
        <div class="text-muted">
            <p class="mb-0">Disclaimer: This application is for informational purposes only and is not a substitute for
                professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other
                qualified health provider with any questions you may have regarding a medical condition.</p>
            <p class="mb-0">The creators of this application are not responsible for any medical outcomes resulting from
                the use of this application.</p>
        </div>
    </div>
</footer>
<!-- Footer -->
{% endblock %}