{% extends "base.html" %}
{% block title %}Forum{% endblock %}
{% block content %}
<h2>About Us</h2>
<p>BGE Consortium is a pharmaceutical harm reduction tool that provides doctors and patients with a secure and
  intelligent platform to prescribe medications safely by analyzing patient history, current medications, and potential
  drug interactions, ensuring accurate dosages and reducing the risk of adverse effects.</p>
<section>
  <h3>About our team</h3>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Kelsey Phelps</h5>
          <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
          <p class="card-text">Should we put stuff here?</p>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Chris</h5>
          <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
          <p class="card-text">Should we put stuff here?</p>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Rushil</h5>
          <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
          <p class="card-text">Should we put stuff here?</p>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">BB</h5>
          <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
          <p class="card-text">Should we put stuff here?</p>
        </div>
      </div>
    </li>
  </ul>
</section>
{% endblock %}